@mixin skewBtn ($background-color, $font-size, $color, $border) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $pari-reg;
    font-size: $font-size;
    color: $color;
    text-transform: uppercase;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $background-color;
        border: $border;
        transform: skewX(-20deg);
        z-index: -1;
        transition: .3s transform linear;
    }

    &:hover {
        &::after {
            transform: skewX(20deg);
        }
    }
}
