.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10;

    @media (max-width: 1080px) {
        position: relative;
        background-color: rgb(0, 0, 0);
    }

    * a {
        transition: .3s transform linear;

        &:hover {
            transform: translateY(5px);
        }
    }

    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1080px) {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: stretch;
            padding-left: 35px;
            padding-right: 35px;

            >div {
                width: 100%;
                margin-bottom: 25px;
            }
        }
    }

    .partners-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        a {
            display: inline-block;
            height: 26px;
            margin-right: 25px;
            margin-bottom: 15px;

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .censorship {
        height: 26px;
        width: 27px;
        margin-right: 102px;

        @media (max-width: 1080px) {
            margin-right: 0;
            margin-left: 50px;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 1080px) {
            order: -1;
        }

        a {
            display: block;
            height: 33px;
            margin-right: 5px;

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            @media (max-width: 1080px) {
                order: -1;
            }
        }

        a {
            display: inline-block;
            height: 22px;
            margin-right: 25px;
            margin-top: -10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
