.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 35px;
    z-index: 10;

    @media (max-width: 675px) {
    	padding-top: 20px;
    }

    .container-fluid {
        @media (max-width: 1080px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__logo {
        display: block;
        width: 300px;
        height: 95px;

        @media (max-width: 1080px) {
            width: 262px;
            height: 79px;
        }

        @media (max-width: 575px) {
            width: 134px;
            height: 40px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__button {
        @include skewBtn ($yellow, 20px, $black, 6px solid $black);
        width: 213px;
        height: 55px;

        @media (max-width: 575px) {
            width: 138px;
            height: 35px;
            font-size: 13px;

            &::after {
                border: 4px solid $black;
            }
        }
    }
}
