.js-parallaxItem {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 780px;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    z-index: -1;

    @media (max-width: 575px) {
        position: relative;
        flex-direction: column;
        justify-content: center;
        margin-top: -15%;
    }

    img {

        @media (max-width: 1680px) {
            height: calc(877px + (877 - 318) * (100vh - 1920px) / (1920 - 320));
        }

        @media (max-width: 1080px) {
            max-height: 355px;
            height: 100%;
        }

        @media (max-width: 767px) {
            max-height: 270px;
        }

        @media (max-width: 575px) {
            &:first-child {
                align-self: flex-start;
            }
        }
    }
}
