.hero-section {
    padding-top: 2%;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    @media (min-width: 1400px) {
        justify-content: center;
    }

    @media (max-width: 767px) {
        padding-bottom: 0;
    }

    .section__inner {
        max-width: 715px;
        width: 100%;
        margin: 0 auto;

        @media (min-width: 2560px) {
            max-width: 100%;
            transform: scale(.8);
        }

        @media (max-width: 1680px) {
            max-width: 615px;
        }

        @media (max-width: 1400px) {
            transform: scale(.8);
        }

        @media (max-width: 1080px) {
            margin-top: 10%;
        }
    }

    .abs-img {
        transform: translate(-15%, -10%);

        img {
            // max-height: calc(404px + (404 - 170) * (100vh - 2560px) / (2560 - 320));
            max-width: calc(847px + (847 - 357) * (100vw - 2560px) / (2560 - 320));
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 50px;

        span {
            display: block;

            img {
                width: 100%;
                height: 100%;
            }

            &:first-child {
                // height: calc(176px + (176 - 77) * (100vh - 2560px) / (2560 - 320));
            }

            &:last-child {
                // height: calc(106px + (106 - 35) * (100vh - 2560px) / (2560 - 320));
            }
        }
    }

    h1+div {
        align-items: stretch;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    .section__item {

        .skew-btn {
            padding: 10px 0 15px 0;
            line-height: 1;
            text-decoration: none;
        }

        &--left {
            flex-basis: 55%;

            @media (max-width: 767px) {
                flex-basis: 100%;
            }

            .skew-btn {
                @include skewBtn ($yellow, 0px, $black, none);
                @include fluid-font(50px,
                32px,
                $maxDesktop,
                $minMobile);
                font-family: $pari-bold;
            }
        }

        &--right {
            flex-basis: 40%;

            @media (max-width: 767px) {
                flex-basis: 100%;
            }

            .skew-btn {
                @include skewBtn ($black, 0px, $yellow, 1px solid $yellow);
                @include fluid-font(50px,
                32px,
                $maxDesktop,
                $minMobile);
                font-family: $pari-light;
            }
        }

        .basic-text {
            font-family: $pari-reg;
            font-size: 40px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            line-height: 1.4;
            text-align: center;
        }

        .basic-text+a {
            display: block;
            font-family: $circle;
            font-size: 14px;
            color: rgb(255, 255, 255);
            text-decoration: underline;
            text-transform: uppercase;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 25px;
            transition: .3s color linear;

            &:hover {
                color: $yellow;
            }
        }
    }
}
