<footer class="footer">
  <div class="container-fluid">
    <div class="partners-logo">
      <a href="#" target="_blank">
        <img src="./img/png/logo/visa-pay-logo.png" alt="Visa logo. Виза логотип">
      </a>
      <a href="#" target="_blank">
        <img src="./img/png/logo/mastercard-logo.png" alt="Mastercard logo. Мастеркард логотип">
      </a>
      <a href="#" target="_blank">
        <img src="./img/png/logo/qiwi-logo.png" alt="Qiwi logo. Киви логотип">
      </a>
      <a href="#" target="_blank">
        <img src="./img/png/logo/yandex-money-logo.png" alt="Yandex money logo. Яндекс деньги логотип">
      </a>
    </div>
    <div class="footer__btns">
      <a href="#" target="_blank">
        <img src="./img/png/appStore.png">
      </a>
      <a href="#" target="_blank">
        <img src="./img/png/androidApp.png">
      </a>
    </div>
    <div class="social-links">
      <img src="./img/png/logo/18plus.png" class="censorship" alt="18+">
      <div class="d-flex justify-content-center align-items-center">
        <a href="#" target="_blank">
          <img src="./img/png/logo/facebook-logo.png">
        </a>
        <a href="#" target="_blank">
          <img src="./img/png/logo/vk-logo.png">
        </a>
      </div>
    </div>
  </div>
</footer>
<script src="js/bundle.js"></script>
</body>

</html>
