<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="" />
  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="css/style.css" />
  <title>
    <%=title%>
  </title>
</head>

<body>
  <header class="header">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="/" class="header__logo">
        <img src="./img/png/logo.png" alt="Parimatch logo. Париматч логотип">
      </a>
      <button type="button" class="header__button skew-btn">
        Регистрация
      </button>
    </div>
  </header>
