<% var data = {title: "Test for DC"}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main class="main js-parallax" data-paralax-axe="">
  <section class="hero-section">
    <div class="section__inner">
      <div class="abs-img">
        <img src="./img/png/car.png">
      </div>
      <h1>
        <span>
          <img src="./img/png/span-1.png">
        </span>
        <span>
          <img src="./img/png/span-2.png">
        </span>
      </h1>
      <div class="d-flex">
        <div class="section__item section__item--left">
          <a href="#" class="skew-btn" target="_blank">
            Сделать ставку
          </a>
          <p class="basic-text">+100% к депозиту</p>
          <a href="#" target="_blank">Правила и условия</a>
        </div>
        <div class="section__item section__item--right">
          <a href="#" class="skew-btn" target="_blank">
            Смотреть
          </a>
          <p class="basic-text">Детали турнира</p>
        </div>
      </div>
    </div>
    <div class="parallax-group d-flex js-parallaxItem" data-parallax-offset="20">
      <img src="./img/png/man-left.png">
      <img src="./img/png/man-right.png">
    </div>
  </section>
</main>
<%= _.template(require('./../includes/footer.html').default)(data) %>
