@font-face {
    font-family: 'Circe_Regular';
    src: url('../fonts/circle/Circe_Regular.eot');
    src: url('../fonts/circle/Circe_Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circle/Circe_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Parimatch-Bold';
    src: url('../fonts/parimatch/Parimatch-Bold.eot');
    src: url('../fonts/parimatch/Parimatch-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/parimatch/Parimatch-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Pari-MatchRegular';
    src: url('../fonts/parimatch/Pari-MatchRegular.eot');
    src: url('../fonts/parimatch/Pari-MatchRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/parimatch/Pari-MatchRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Parimatch-Light';
    src: url('../fonts/parimatch/Parimatch-Light.eot');
    src: url('../fonts/parimatch/Parimatch-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/parimatch/Parimatch-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}