.no-style {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    width: 100%;
    // height: 100%;
}

body {
    position: relative;
}

::selection {}

.main {
    height: 100%;
    background-image: url("../img/png/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: 50% 50%;

    @media (max-width: 1080px) {
        background-image: url("../img/png/bg-tablet.png");
    }
}

.container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    height: 100%;
    // max-width: 1920px;
    // margin: 0 auto;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: .3s color linear;

    &:hover {
        text-decoration: none;
    }
}

ul,
ol {
    list-style: none;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
}

object {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

button:active,
button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    outline: none;
}

input,
textarea,
fieldset {
    border: none;
    background-image: none;
    background-color: transparent !important;
    box-shadow: none;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid transparent;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.test {
    @include fluid-font(0px,
    0px,
    $minDesktopHD,
    $minMobile);

    @include line-height(0px,
    0px,
    $minDesktopHD,
    $minMobile);

    @media (max-device-width: 768px) and (orientation: landscape) {}
}
