$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, xxxl: 1680px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1260px, xxxl: 1600px);

$gutter: $grid-gutter-width;

//breakpoints for fluid-font
$minDesktopHD: 1440px;

$maxDesktop: 1920px;
$minDesktop: 1080px;

$maxTablet: 1079px;
$minTablet: 720px;

$maxMobile: 719px;
$minMobile: 420px;

//colors
$yellow: rgb(242, 240, 10);
$black: rgb(0, 0, 0);

//fonts
$circle: "Circe_Regular", sans-serif;
$pari-bold: "Parimatch-Bold", sans-serif;
$pari-reg: "Pari-MatchRegular", sans-serif;
$pari-light: "Parimatch-Light", sans-serif;
